.sk-layout {
  margin: 60px auto 9.5em;
}

.hit-item {
  display: flex;
  flex: 1;
  min-width: 45%;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1em;
}

.annotation-list {
  max-width: 520px;
  width: 100%;

  & button, & input[type="submit"] {
    border: 1px solid steelblue;
    background: white;
    color: steelblue;
    border-radius: 6px;

    &:hover {
      background: steelblue;
      border-color: grey;
      color: white;
    }
  }
}

textarea[name="edit-annotation"] {
  width: 100%;
  height: 10em;
  border-radius: 6px;
  border: 1px solid steelblue;
  max-width: 520px;
}

label[for="edit-annotation"] {
  font-size: 0.6em;
  color: grey;
  margin: .5em 0;
  display: block;
}

.logo {
    color: #fff;
    flex: 0 0 250px;
    padding: 13px 20px;
    margin-right: 15px;
    line-height: 16px;
}
